/* * {
    border: 2px solid #ff4646;
} */

.learn-view-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.learn-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.progress-and-flashcard {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 30px;
}

.flashcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 400px;
  height: 400px;
  background-color: rgb(255, 251, 246);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}   

.flashcard p{
  font-size: 38px;
  color: rgb(0, 0, 0);
}

.flashcard-word-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
margin: 30% 0px 0px 0px;}

.flashcard-front,
.flashcard-back {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.flashcard-separator {
  height: 1.4px;
  width: 300px;
  background-color: #494949;
}

.options-container {
  display: flex;
  margin-top: auto;
  margin-bottom: 30px;
}

.button-prev,.button-learned, .button-repeat {
  background-color: rgb(255, 255, 255);
}

.set-finished-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finished-message{
  margin-bottom: 40px;
  text-align: center;
}

.finished-message p{
font-size: 21px;;
}

.finished-options-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*.2    Progress Bar      */

.progress-bar-wrapper {
  padding-top: 100px;
 width: 100%;
 padding: 8;
}

.MuiLinearProgress-bar1{
 background-color:  var(--main-green) !important;
}

.css-1txyin7-MuiLinearProgress-root{
  height: 4px !important;
  background-color: rgb(255, 255, 255) !important;
  border: rgb(201, 201, 201) 1px solid !important;
  border-radius: 10px !important;
}

/* .1.        MOBILE                                                                             */

@media (max-width: 768px){}