/* * {
    border: 2px solid #ff4646;
} */

.learn-view-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.learn-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.progress-and-flashcard {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 30px;
}

.flashcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 400px;
  height: 400px;
  background-color: rgb(255, 251, 246);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.flashcard .wordlist-item-archive {
  position: absolute;
  top: 15px;
  right: 1px;
  cursor: pointer;
  min-width: 40px;
  min-height: 50px;
}

.flashcard .wordlist-item-archive svg {
  width: 23px;
  height: 23px;
}   

.flashcard p{
  font-size: 38px;
  color: rgb(0, 0, 0);
}

.flashcard-word-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
margin: 30% 0px 0px 0px;}

.flashcard-front,
.flashcard-back {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.flashcard-separator {
  height: 1.4px;
  width: 300px;
  background-color: #494949;
}

.options-container {
  display: flex;
  margin-top: auto;
  margin-bottom: 30px;
}

.button-learned {
  background-color: var(--color-main-green);
}

.set-finished-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finished-message{
  margin-bottom: 40px;
  text-align: center;
}

.finished-message p{
font-size: 21px;;
}

.finished-options-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*.2    Progress Bar      */

.progress-bar-wrapper {
  padding-top: 100px;
 width: 100%;
 padding: 8;
}

.MuiLinearProgress-bar1{
 background-color:  var(--main-green) !important;
}

.css-1txyin7-MuiLinearProgress-root{
  height: 12px !important;
  background-color: rgb(255, 255, 255) !important;
  border: rgb(201, 201, 201) 1px solid !important;
  border-radius: 10px !important;
}

/* .1.        MOBILE                                                                             */

@media (max-width: 768px){


  .flashcard {
    width: calc(100vw - 70px);
    height: 350px;
    max-width: 400px;
    margin: 30px 10px 10px 10px;
  }

  .progress-bar-wrapper {
    padding: 100px 10px 8px 10px;
    width: calc(100% - 20px);
  }

  .options-container {
    padding: 0 10px;
    flex-wrap: nowrap;
    gap: 0px;
    margin: 50px 0 250px 0;
  }

  .options-container button {
    height: 55px;
    width: 120px;
    margin: 0 7px 0 7px;
  }

  .finished-options-container {
    flex-direction: column;
    padding: 0 10px;
  }

  .finished-message {
    padding: 0 10px;
  }
}