.login-page{
    position: fixed;
    inset: 0;
    z-index: 9998;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.75);
}

.login-page h2{
   margin-bottom: 40px;
}

.login-field{
    padding: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: rgba(0, 0, 0, 0.471) 1px solid;
    border-radius: 10px;
}

.login-field *{
    margin-bottom: 20px;
}

.login-field-input-wrapper{
    display: block;
   width: 80%;
}

@layer overrides {
.login-field-input-wrapper input{
    display: block;
    height: 20px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}}


.login-field-input-wrapper input[type="text"]{
    display: block !important;
    height: 20px !important;
    width: 100% !important;
    padding: 5px !important;
    font-size: 16px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    margin: 0px 0px 20px 0px !important;
    min-height: 0px !important;
}

.login-field-input-wrapper form {
width: 100%;}

.login-field-input-wrapper input::placeholder{
font-family: var(--font-primary);
font-size: 14px;
}

.btn-sign-up-here, .btn-forgot-pw {
all: unset;
}

.btn-sign-up-here p{
    color: rgb(77, 77, 255);
}

.btn-login, .btn-signup{
    margin-bottom: 40px;
}

 .btn-forgot-pw p {
    color: rgb(143, 143, 143);
}

.login-options-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    line-height: 2px;
    ;
}

.login-options-wrapper p {
  white-space: normal;    /* allow wrapping (default for <p>) */
  overflow-wrap: break-word; /* break long words if needed */
  word-break: break-word;    /* extra safety for very long words/URLs */
}

.remember-me-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .1.        MOBILE                                                                             */

@media (max-width: 768px){

    .login-field{
        width: calc(100% - 20px);
        max-width: 400px;
        margin: 10px;
        padding: 20px;
    }

    .login-field-input-wrapper {
        width: 90%;
    }

    .login-options-wrapper {
        padding: 0 10px;
        flex-direction: column;
        gap: 10px;
    }
}