.sidebar-container {
    background-color: #F8B2D1;
    width: 200px;
    min-width: 200px;
    height: 100vh;
}

.sidebar-container p {
    font-family: var(--font-funnel-sans);
    font-size: 1.2rem;
    color: #333;
        padding-left: 20px;

}

.sidebar-title {
    display: flex;
    align-items: center;
  height: 80px;
}

.sidebar-title h2 {
    padding-left: 20px;
    font-size: 2rem;
    font-weight: 600;
}   

.sb-option-div-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    margin-top: 30px;
}

.sb-option-div {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}

.sb-option-div button{
all: unset;
display: flex;
justify-content: center;
align-items: center;
border: #333 solid 2px;
width: 80px;
height: 80px;
border-radius: 20%;
}

.sb-option-div button:hover{
    background-color: var(--color-section)
}

.burger {
margin-top: 20px;
margin-left: 20px;
width: 60px;
height: 60px;
}

.manage-all-link,
.manage-all-link:visited,
.manage-all-link:hover,
.manage-all-link:active,
.archive-link,
.archive-link:visited,
.archive-link:hover,
.archive-link:active,
.go-to-main-link,
.go-to-main-link:visited,
.go-to-main-link:hover,
.go-to-main-link:active,
.conjugator-page-link,
.conjugator-page-link:visited,
.conjugator-page-link:active,
.conjugator-page-link:hover
 {
  color: inherit;
  text-decoration: none;   
}

.btn-close-sidebar {
    margin-left: auto;
    margin-right: 20px;
    width: 26px;
    height: 26px;
}

/* .1.        MOBILE                                                                             */

@media (max-width: 768px){
    .sidebar-container {
      display: none;
    }
}